header button {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login {
	display: flex;
	height: 435px;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
}

.login form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 50px 0;
}

.login form button {
	cursor: pointer;
	border: none;
	height: 40px;
	width: 120px;
	background: #2a7ae4;
	color: #fff;
}

.login button:hover {
	filter: saturate(2);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

h3 {
	text-align: center;
}

.login input {
	height: 40px;
	width: 290px;
	padding: 5px 16px;
	border: none;
}

.login form input {
	outline-color: #2a7ae4;
}

.login button {
	height: 34px;
	width: 90px;
	margin: auto;
}
