.contact_us {
	display: flex;
	flex-flow: wrap;
	max-width: 100%;
	gap: 24px;
	justify-content: space-around;
	padding: 2rem;
	background-color: #eaf2fd;
}

.contact_us_links{
	display: flex;
    gap: 10px;
	flex-direction: column;
	justify-content: center;
}

.contact_us_links a{
    display: flex;
    text-align: center;
    font-size: 1rem;
    color: #464646;
    font-weight: 500;
    padding: 12px;
    transition: ease 200ms;
    text-decoration: none;

}

.contact_us_links a:hover{
    /* outline: dashed 2px lightblue; */
    color: #2a7ae4;
}

.contact_us_form {
	display: flex;
	flex-flow: column wrap;
	gap: 1rem;
}

.contact_us_form input,
textarea {
	color: #a2a2a2;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: solid 1px;
}

.contact_us_form button {
	cursor: pointer;
	border: none;
	padding: 16px;
	background: #2a7ae4;
	color: #fff;
    transition: ease 200ms;

}

.contact_us_form button:hover {
	filter: saturate(2);
}

footer{
    text-align: center;
    padding: 2rem;
    
}
