.product_container {
	margin: 30px 8px;
}

main {
	display: flex;
	max-width: 100%;
	gap: 8px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

main img {
	width: clamp(500px, 400px, 400px);
	border-radius: 12px;
	margin: 12px;
}

.product_info {
	display: flex;
	gap: 12px;
	flex-direction: column;
	height: auto;
	justify-content: center;
	width: 450px;
	text-wrap: pretty;
	font-size: 14px;
	margin: 0 12px;
}

@media (max-width: 768px) {
	.product_container :nth-child(5),
	.product_container :nth-child(6) {
		display: none;
	}
}
