* {
	padding: 0;
	margin: 0;
	font-family: "Raleway", sans-serif;
}

/* *HEADER */
header {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
	padding: 2rem 0;
	max-width: 100%;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
}

header button {
	padding: 0.5rem 3rem;
	border: solid 1px #2a7ae4;
	background: #fff;
    cursor: pointer;
    transition: ease 200ms;

}

header button:hover{
    background: rgb(42, 122, 230 ,10%);
}



.search_btn {
	display: flex;
	/* width: 24.5625rem; */
	background: center no-repeat url("../images/search-icon.svg") #a2a2a23f;
	background-position-x: 19rem;
	border: none;
	border-radius: 1rem;
	padding: 0.5rem 6rem;
	justify-content: space-between;
}

.search_btn::placeholder {
	padding: 5px;
}

/*  */


/* *HERO */
main {
	/* background: no-repeat url("../images/hero.svg"); */
	display: flex;
	height: 22rem;
	padding: 2rem;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	align-self: stretch;
} /*  */


.diverse,
.star_wars,
.consoles {
	/* display: flex; */
	/* flex-direction: column; */
    overflow-wrap: ;
	max-width: 100%;
	padding: 4rem 2rem;
	/* gap: 2rem; */
}

.consoles_items, .star_wars_items, .diverse_items {
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    
    gap: 2rem;

}