* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

/* *HEADER */
header {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
	padding: 2rem 0;
	max-width: 100%;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
}

header button {
	padding: 0.5rem 3rem;
	border: solid 1px #2a7ae4;
	background: #fff;
	cursor: pointer;
	transition: ease 200ms;
}

header button:hover {
	background: rgb(42, 122, 230, 10%);
}

.search_btn {
	display: flex;
	background: center no-repeat url('../images/search-icon.svg') #a2a2a23f;
	background-position-x: 19rem;
	border: none;
	border-radius: 1rem;
	padding: 0.5rem 6rem;
	justify-content: space-between;
}

.search_btn::placeholder {
	padding: 5px;
}
/* *MAIN */
main h1,
p {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

button {
	color: #fff;
	width: 8rem;
	height: 2rem;
	background-color: #2a7ae4;
	border: none;
	border-radius: 4px;
}
/*  */

/* *HERO */
main {
	background: no-repeat url('../images/Hero.png');
	display: flex;
	height: 22rem;
	padding: 2rem;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	align-self: stretch;
} /*  */

.diverse,
.star_wars,
.consoles {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	padding: 4rem 2rem;
	gap: 2rem;
}

.consoles_items,
.star_wars_items,
.diverse_items {
	display: flex;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;

	gap: 2rem;
}

/* * CONSOLES */

.consoles_items {
	display: flex;
	gap: 2rem;
	justify-content: center;
	flex-wrap: wrap;
}

.consoles_items a {
	color: #2a7ae4;
	text-decoration: none;
	font-weight: 700;
}

.consoles h1 {
	padding: 1rem;
	text-align: center;
}
/**/

/* * DIVERSE */
.diverse_items {
	display: flex;
	gap: 2rem;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

.diverse_items a {
	color: #2a7ae4;
	text-decoration: none;
	font-weight: 700;
}

.diverse h1 {
	padding: 1rem;
	text-align: center;
}

/**/

/* * STAR WARS */

.star_wars h1 {
	text-align: center;
	margin: 1rem 0;
}

.star_wars_items {
	display: flex;
	gap: 2rem;
	justify-content: center;
	flex-wrap: wrap;
}

.star_wars_items a {
	color: #2a7ae4;
	text-decoration: none;
	font-weight: 700;
}

/**/

/* * FOOTER */

.contact_us {
	display: flex;
	flex-flow: wrap;
	max-width: 100%;
	gap: 24px;
	justify-content: space-around;
	padding: 2rem;
	background-color: #eaf2fd;
}

.contact_us_links {
	display: flex;
	gap: 10px;
	flex-direction: column;
	justify-content: center;
}

.contact_us_links a {
	display: flex;
	text-align: center;
	font-size: 1rem;
	color: #464646;
	font-weight: 500;
	padding: 12px;
	transition: ease 200ms;
	text-decoration: none;
}

.contact_us_links a:hover {
	/* outline: dashed 2px lightblue; */
	color: #2a7ae4;
}

.contact_us_form {
	display: flex;
	flex-flow: column wrap;
	gap: 1rem;
}

.contact_us_form input,
textarea {
	color: #a2a2a2;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: solid 1px;
}

.contact_us_form button {
	cursor: pointer;
	border: none;
	padding: 16px;
	background: #2a7ae4;
	color: #fff;
	transition: ease 200ms;
}

.contact_us_form button:hover {
	filter: saturate(2);
}

footer {
	text-align: center;
	padding: 2rem;
}

/**/
